

#container {
    #info-container {
        .voxelphile-plus-logo {
            filter: invert(99%) sepia(86%) saturate(1540%) hue-rotate(329deg) brightness(113%) contrast(101%) !important;
        }
        #header {
            .voxelphile-plus {
                color: #fffa4f !important;
            }
        }
    }
}